.table > tbody > tr.stall > td,
.table > tbody > tr > td.stall {
	background-color: #DD3344;
}

.table .online {
	background-color: #88DD88;
}

.table .offline {
	background-color: #DD8888;
}

.table-nonfluid {
	width: auto;
}

.left {
	position: absolute;
	left: 0;
	/*right: 120px;*/
	overflow: auto;
	/*overflow: hidden;*/
	/* width: 110px; */
	/* min-height: 400px; */
	/*border: 2px dashed #ddd*/
}

.right {
	position: absolute;
	right: 0;
	/*left: 112px;*/
	overflow: auto;
	/*width: 250px;*/
	/*min-height: 500px;*/
	/*margin-left: 5px;*/
	/*border: 2px dashed #ddd*/
}

.center {
	position: absolute;
}

.boxtop {
	position: absolute;
	visibility: hidden;
	/*display: none;*/
	z-index: 100;
}

.header-left {
	float: left;
}

.header-right {
	float: right;
}

.header-middle {
	float: none;
}

.cmscrollbar {
    overflow: hidden;
}

.cmscrollbar:hover {
	overflow-y: auto;
    padding-right: 1px;
}

.cmscrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.cmscrollbar::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.cmscrollbar::-webkit-scrollbar-thumb
{
	background-color: #285e8e;

	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	color-stop(.5, rgba(255, 255, 255, .2)),
	color-stop(.5, transparent), to(transparent));
}

table.fixed
{
	table-layout: fixed;
}
td.qServer,
th.qServer
{
	width: 50px;
	padding-left: 1px;
	padding-right: 1px;
}

td.qId,
th.qId
{
	width: 52px;
	padding-left: 1px;
	padding-right: 1px;
}

td.qBackend,
th.qBackend
{
	width: 72px;
	padding-left: 1px;
	padding-right: 1px;
}

td.qUser,
th.qUser
{
	width: 72px;
	padding-left: 1px;
	padding-right: 1px;
}

td.qStatement,
th.qStatement
{
	padding-left: 1px;
	padding-right: 1px;
	word-wrap: break-word;
}

td.qState,
th.qState
{
	width: 48px;
	padding-left: 1px;
	padding-right: 1px;
}

td.qClient,
th.qClient
{
	width: 90px;
	padding-left: 1px;
	padding-right: 1px;
}

td.qRows,
th.qRows
{
	width: 72px;
	padding-left: 1px;
	padding-right: 1px;
}

td.qStartTime,
th.qStartTime
{
	width: 80px;
	padding-left: 1px;
	padding-right: 1px;
}

td.qElapsedTime,
th.qElapsedTime
{
	width: 90px;
	padding-left: 1px;
	padding-right: 1px;
}

td.qCancel,
th.qCancel
{
	width: 90px;
	padding-left: 1px;
	padding-right: 1px;
}
